.main {
  background: url(https://img.freepik.com/foto-gratis/pila-periodicos-fondo-tabla_488220-17000.jpg?w=2000)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-start {
  text-decoration: none;
  border: 3px solid rgb(199, 199, 199);
  color: transparent;
  padding: 40px 80px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  border-radius: 5px;
}
.button-start:before {
  content: "Tocame Para Comenzar";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
  border-radius: 5px;
}
/* .button-start:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  } */
.button-start:after {
  border-radius: 5px;
  content: "Tocame Para Comenzar";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.button-start:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}
